<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f8d7da;
      padding: 20px;
    }
    .container {
      background: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
      color: #721c24;
    }
    p {
      color: #721c24;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Booking Cancelled</h1>
    <p>Dear <%= @booking.user.email %>,</p>
    <p>Booking cancelled successfully. Your amount will be refunded within one day.</p>
      <p>Total Price: <strong>₹<%= @booking.total_price %></strong></p>
    <p>We regret to inform you that your booking for <strong><%= @booking.event.event_name %></strong> has been cancelled.</p>
    <p>We hope to see you at a future event.</p>
  </div>
</body>
</html>
